<nav class="navbar">
    <div class="logo" (click)="navigate('/home')">
        <img src="./assets/logos/icon.png" alt="Personal Finance">
    </div>

    <ul>
        <li>
            <a (click)="navigate('/home')" [ngClass]="getActive('home')"> Home</a>
        </li>
        <li>
            <a (click)="navigate('/about-project')" [ngClass]="getActive('about-project')"> Sobre o projeto</a>
        </li>
        <li>
            <a (click)="navigate('/about-me')" [ngClass]="getActive('about-me')"> Sobre mim</a>
        </li>
    </ul>
</nav>