@import '../../../../styles/abstracts/variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    background-color: #FFF;

    h2 {
        color: #000;

        a {
            color: $button-primary;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .image {
        img {
            max-height: 300px;
        }
    }
}