$background-primary: #0d1117;
$background-secondary: rgb(215, 215, 215);
$background-tertiary: #1d2430;

$text-primary: #FFF;
$text-secondary: #000;
$text-tertiary: #86888a;

$button-primary: #F9603B;

$navbar-heigth: 70px;