<div class="content">
    <div class="container">
        <div>
            Copyright © 2023 escrito por <a href="https://github.com/Moises088"><b>Moisés Costa</b></a>
        </div>

        <div class="container-footer">
            <div class="content-col">
                <b>Sobre o APP:</b>

                <ul>
                    <li><a href="">Termos de uso</a></li>
                    <li><a href="">Projeto</a></li>
                </ul>
            </div>
            <div class="content-col">
                <b>Sobre mim:</b>

                <ul>
                    <li><a href="https://github.com/Moises088">Github</a></li>
                    <li><a href="">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>