<div class="container-main">
    <div class="container-main-app">
        <img id="home" src="./assets/screens/home.png" alt="HOME APP">

        <div class="container-main-title">
            <div>
                <h1>Finance App</h1>
                <span>Seu app pessoal de gestão financeira. Controle seu ganhos, despesas e faturas. Faça seu orçamento e acompanhe os balanços mensais.</span>
            </div>

            <div class="container-btn">
                <div class="container-btn-title"><span>Em breve disponível na</span></div>
                <button class="btn btn-play">
                    <img src="./assets/icons/google-play.png" alt="PLAY STORE">
                </button>
            </div>
        </div>
    </div>

    <div class="img-circle">
        <img src="./assets/icons/circle.png" style="height: 350px;" alt="" >
    </div>

</div>
<div class="divisor"></div>