.container {
    width: 100%;
    padding: 30px 0;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-max {
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
}

.container-message {
    margin-top: 10px;
}

.text-black {
    color: #000;
}

.message {
    line-height: 24px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    app-card-technology {
        width: 24%;
        margin-right: 1%;
    }
}

@media(max-width: 850px) {
    .container-card {
        app-card-technology {
            width: 32%;
            margin-right: 1%;
        }
    }
}

@media(max-width: 650px) {
    .container-card {
        app-card-technology {
            width: 49%;
            margin-right: 1%;
        }
    }
}

@media(max-width: 450px) {
    .container-card {
        app-card-technology {
            width: 100%;
            margin-right: 0;
        }
    }
}