<section class="container">
    <app-home-app></app-home-app>
</section>

<section class="info-containers">
    <app-info-container
        [backgroundColor]="'#FFF'"
        [flexDirection]="'row'"
        [image]="'./assets/screens/AppCard.gif'"
        [title]="'Gerencie suas faturas'"
        [message]="'Faça gestão dos seus cartões, empréstimos, financiamentos, todos os tipos de dívidas. Você escolhe o valor total e o valor mensal, em todos os seus orçamentos suas dívidas já são inclusas. Tenha gráficos e veja em quanto tempo você quita suas contas.'"
    >
    </app-info-container>
</section>