@import '../../../../../styles/abstracts/variables';

.container {
    width: 100%;
    height: calc(100% - $navbar-heigth);
    position: relative;
    overflow: hidden;
}

.info-containers {
    position: relative;
    margin-top: -30px;
    z-index: 2;
}

@media(max-width: 910px){
    .info-containers {
        margin-top: -100px;
    }
}

@media(max-width: 510px){
    .info-containers {
        margin-top: -250px;
    }
}

@media(max-width: 380px){
    .info-containers {
        margin-top: -140px;
    }
}
