@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/components/buttons';

.container {
    width: 100%;
    height: calc(100% - $navbar-heigth);
    position: relative;
    overflow: hidden;
}

